{% extends "views/base/base.html.twig" %}

{% block javascript %}
<script type="text/javascript" src="/js/sort.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Speak with . . .</h2>
            {% if app.isLogged %}
                <div class="col-lg-8">
                    <div class="listusers col-sm-12">
                        <div class="sort-select">
                            <label for="sort">Sort by</label>
                            <div class="form-inline">
                                <select class="form-control" name="tri" id="filterSort">
                                    <option value="default">Defaut</option>
                                    <option value="age">Age</option>
                                    <option value="location">Location</option>
                                    <option value="popularity">Popularity</option>
                                    <option value="interests">Common Interests</option>
                                </select>
                            </div>
                            <div class="form-inline">
                                <select class="filter form-control" name="croi" id="sort">
                                    <option value="asc">ASC</option>
                                    <option value="desc">DESC</option>
                                </select>
                            </div>
                        </div>
                    {% for user in suggests %}
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb user" data-location="{{ user.distance }}" data-age="{{ user.age }}"
                        data-popularity="{{ user.popularity }}" data-interests="{{ user.matchInterest }}" data-index="{{ loop.index }}">
                        {% if user.is_profil == 1 %}
                            <a class="thumbnail user-gallery" href="{{ path_for('viewProfil', { 'id': user.id_user }) }}">
                                {% if user.matchInterest %}
                                    <span class="commonInterests">{{ user.matchInterest }} Common interests!!</span>
                                {% endif %}
                                <span class="grade">{{ user.grade }}</span>
                                <img src="{{ user.url }}" class="img-responsive">
                                {% include 'views/fragments/_info-user.html.twig' %}
                            </a>
                        </div>
                        {% else %}
                                <a class="thumbnail user-gallery" href="{{ path_for('viewProfil', { 'id': user.id_user }) }}">
                                    {% if user.gender == 'male' %}
                                        <img src="/image/dev/no-pics-man.jpg" class="img-thumbnail img-fluid">
                                    {% elseif user.gender == 'female' %}
                                        <img src="/image/dev/no-pics-woman.jpg" class="img-thumbnail img-fluid">
                                    {% else %}
                                        <img src="/image/dev/no-pics-unknown.jpg" class="img-thumbnail img-fluid">
                                    {% endif %}
                                    {% include 'views/fragments/_info-user.html.twig' %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="col-lg-8">
                    {% for user in users %}
                        {% if user.is_profil == 1 %}
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 thumb">
                                <a class="thumbnail" href="{{ path_for('viewProfil', { 'id': user.id_user }) }}">
                                    <img src="{{ user.url }}" class="img-responsive">
                                    {% include 'views/fragments/_info-user.html.twig' %}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-lg-2 col-md-2 col-xs-4 thumb">
                                <a class="thumbnail" href="{{ path_for('viewProfil', { 'id': user.id_user }) }}">
                                    {% if user.gender == 'male' %}
                                        <img src="/image/dev/no-pics-man.jpg" class="img-thumbnail img-fluid">
                                    {% elseif user.gender == 'female' %}
                                        <img src="/image/dev/no-pics-woman.jpg" class="img-thumbnail img-fluid">
                                    {% else %}
                                        <img src="/image/dev/no-pics-unknown.jpg" class="img-thumbnail img-fluid">
                                    {% endif %}
                                    {% include 'views/fragments/_info-user.html.twig' %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        <div class="content col-lg-3">
            <h2 class="line"><span>Lorem Lipsum</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam beatae dolorem eveniet fugit, ipsa labore rerum unde veritatis voluptas. Cupiditate dolorum facere fugit nobis optio perspiciatis quisquam, repellendus voluptatum?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad amet asperiores, aspernatur aut culpa dolor dolore error facilis ipsa nobis officia officiis possimus quae repudiandae tempora veniam vero voluptate.</p>
        </div>
        </div>
    </div>
{% endblock %}