    <div class="col-md-3">
        <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="{{ user.profil.url }}" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    {{ user.name }} {{ user.lastname }}
                </div>
                <div class="profile-usertitle-job">
                    sexe : {{ user.gender }} <br>
                    Looking for : {{ user.orientation }}
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
                <form id='formSidebar' method="post" action="{{ path_for('edit', { 'profil': 'photo' }) }}">
                    <label class="btn btn-success btn-sm">
                        <input class="hidden" id="avatarUser" name="avatarUser" type="file" accept="image/jpg, image/jpeg, image/bmp, image/png">
                        Update profil picture
                    </label>
                </form>
                <button type="button" class="btn btn-success btn-sm">View profil page</button>
            </div>
            <!-- END SIDEBAR BUTTONS -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li class="active">
                        <a href="/home/basic">
                            <i class="glyphicon glyphicon-home"></i>
                            Basic Info </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            Personnal Info </a>
                    </li>
                    <li>
                        <a href="/home/photo">
                            <i class="glyphicon glyphicon-ok"></i>
                            Photo </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-flag"></i>
                            Location </a>
                    </li>
                </ul>
            </div>
            <!-- END MENU -->
        </div>
    </div>
