{% extends "views/base/base.html.twig" %}

{% block body %}
<div class="container">
    {#a voir la condition condition pour si account user#}
    {% if owner == 1 %}
        <div class="sidebar">
            {% include '/views/users/fragments/_sidebar.html.twig' %}
        </div>
    {% endif %}
    <div class="col-md-9">
            <div class="col-md-4 col-sm-6 col-xs-12">
                {% for data in userData %}
                    {% if data.is_profil == 1 %}
                        <a class="thumbnail profile-userpic" href="{{ data.url }}" data-toggle="lightbox" data-gallery="gallery" data-type="image">
                            <img src="{{ data.url }}" class="img-responsive">
                        <div class="text-center">
                            {{ data.name }} {{ data.lastname }}
                        </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6 user-infos">
                <h3>
                    {% if user.gender == 'm' %}
                        Man
                    {% elseif user.gender == 'f' %}
                        Woman
                    {% endif %}</h3><br>
                <p>Search a <strong>{{ user.orientation }}</strong></p>
                <h4>Resume :</h4>
                {{ user.resume }}
                {% if user.hashtags %}
                    <h4>Interests</h4>
                    {% for interest in user.hashtags %}
                        <span class="btn btn-info" name="deleteInterest" value="{{ interest }}">{{ interest }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            {% for image in userData %}
                <div class="row col-md-4 col-sm-6 col-xs-12">
                    <div class="pics">
                        <a href="{{ image.url }}" data-toggle="lightbox" data-gallery="gallery" data-type="image">
                            <img src="{{ image.url }}" class="img-thumbnail img-fluid">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {#condition accout normal#}
</div>
{% endblock %}