<div class="notifications page-notification">
    {% for notif in app.getNotifications  %}
        <div class="notification">
            <span class="hidden">{{ notif.type }}</span>
            <div {% if notif.reading == 0 %}class="unread" {% endif %} data-id="{{ notif.idNotif }}" data-type="{{ notif.type }}">
                <a href="{{ notif.link }}" >
                    <div class="left">
                        <p>
                            <img width=50 height=50 src="{{ notif.url }}" alt="">
                            {{ notif.lastname }}
                        </p>
                    </div>
                    <div class="right">
                        <p>{{ notif.message }}</p><br>
                        <span> at {{ notif.dateNotif }}</span>
                    </div>

                </a>
            </div>
        </div>
    {% endfor %}
</div>
