{% block body %}
<div id="list-chat" class="list-chat">
    {% for user in listUsers %}
        <div class="notification message-alert">
            <div {% if user.reading == 0 and user.id_user_like != user.idAuth %}class="unread-chat" {% elseif user.reading == 0 %}class="unread"{% endif %}>
                <a href="{{ path_for('viewProfil', { 'id': user.id_user_like }) }}">
                    <div class="left {% if user.is_connected %} is-connect {% endif %}">
                        <p>
                            <img width=50 height=50 src="{{ user.url }}" alt=""><br>
                            {{ user.lastname }} {{ user.name }}
                        </p>
                    </div>
                </a>
                <a href="{{ path_for('chatPage', { 'id': 'match?id='~user.id_user_like }) }}" >
                    <div class="right">
                        {% if user.message %}
                        <p>{{ user.message }}</p><br>
                        <span> at {{ user.dateNotif }}</span>
                        {% else %}
                            <p>{{ user.lastname }} want to chat with you!</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
