<div class="text-center {% if user.gender == 'female' %}userF{% elseif user.gender == 'male'%}userM{% else %}{% endif %}">
    <strong>{{ user.name }} {{ user.lastname }},<br>{{ user.age }}</strong><br>
    {{ user.city }}{% if user.zipCode != null %}, {{ user.zipCode }}{% endif %}{% if user.distance is defined %}<br>{{ user.distance }}Km {% endif %}<br>
    {% if user.orientation == 'bisexual' %}
        <strong>Is a {{ user.orientation }}</strong>
    {% else %}
        <strong>Search a {{ user.orientation }}</strong>
    {% endif %}
</div>
    {% if user.is_connected == 1 %}
        <i class="fa fa-check-circle text-success connect-icon" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-times text-danger connect-icon" aria-hidden="true"></i>
    {% endif %}
